/* == GENERAL == */
* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* == CARD == */
.card {
  display: flex;
  flex-direction: column;
  width: 380px;
}